appdirs==1.4.3
attrs==19.3.0
autopep8==2.0.4
bleach==6.1.0
certifi==2023.7.22
chardet==3.0.4
charset-normalizer==2.1.1
Click==7.0
codecov==2.1.13
contextlib2==0.5.5
coverage==7.3.2
Cython==3.0.6
distlib==0.3.8
docutils==0.16
entrypoints==0.3
exceptiongroup==1.2.0
filelock==3.0.12
flake8==6.1.0
idna==2.8
importlib-metadata==7.0.0
importlib-resources==1.0.2
iniconfig==2.0.0
invoke==2.2.0
isort==5.13.1
jaraco.classes==3.3.0
jsonschema==3.2.0
keyring==24.3.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==8.2.0
nh3==0.2.15
packaging==20.1
pathlib2==2.3.5
pkginfo==1.9.6
pluggy==0.13.1
py==1.11.0
pycodestyle==2.11.1
pyflakes==3.1.0
Pygments==2.17.2
pyparsing==3.1.1
pyrsistent==0.15.7
pytest==7.4.3
pytest-cov==4.1.0
readme-renderer==42.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.0
schema==0.7.1
schematics==2.1.1
six==1.16.0
tomli==2.0.1
tqdm==4.42.1
twine==4.0.2
urllib3==1.26.18
voluptuous==0.14.1
wcwidth==0.1.8
webencodings==0.5.1
zipp==1.1.0
